@import './modules/_variables.scss';
@import './modules/_mixins.scss';
body {}

img {
    max-width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.main-text {
    grid-area: title;
}

.main-image {
    grid-area: image;
}

.grid-main-area {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: "title title title title title title title title title" "image image image image image image image image image";
}

.container {
    grid-column: span 12;
    padding: $big-padding;
}

@media(min-width: 960px) {
    .container {
        grid-column: 2/12;
    }
    .grid-main-area {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-areas: "title title title image image image image image image";
    }
}